
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:<password>@localhost:5432/hookfire?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations

PORT="8080"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="jwt_secret"


OPENROUTER_API_KEY="""
OPENROUTER_MODEL=""

OPENROUTER_AUDIO_MODEL=""

FRONTEND_URL=""